@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&family=Pacifico&display=swap');

.instiration-message-block{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 20px;
   font-family: "Nanum Myeongjo", serif;
   font-weight: 400;
   font-style: normal;
   margin: 0 auto;
   padding: 15px 15px;
}

.instiration-message-block__head{
  font-size: 40px;
  font-weight: 800;
}

.instiration-message-block__text{
  padding-bottom: 45px;
}
.instiration-message-block__button{
   padding: 0.8em 2.5em;
   margin: 25px 0px 35px;
   outline: none;
   color: white;
   font-style: 1.2em;
   position: relative;
   z-index: 1;
   cursor: pointer;
   background: none;
   text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.instiration-message-block__button:before,
.instiration-message-block__button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.instiration-message-block__button:before {
   -webkit-filter: blur(7px);
   filter: blur(7px);
   -webkit-transition: all 0.25s ease;
   transition: all 0.25s ease;
   -webkit-animation: pulse 10s infinite ease;
   animation: pulse 10s infinite ease;
 }
 
 .instiration-message-block__button:after {
   -webkit-filter: blur(0.3px);
   filter: blur(0.3px);
 }
 
 .instiration-message-block__button:hover:before {
   width: 115%;
   height: 115%;
 }

.output-message {
   font-family: "Pacifico", cursive;
   font-weight: 400;
   font-style: normal;
   font-size: 30px;
   padding-top: 30px;
}
